body{
    width: auto;
    margin: 0 auto;
    font-size: 16px;
}

header{
    width: 100%;
    background: #333;
    height: 80px;
    position: relative;
}

#toggle{
    background: transparent;
    border: none;
    position: absolute;
    left: 20px;
    top: 30px;
}


#gnb ul{
    background: #c4c4c4;
    position: absolute;
    width: 100%;
    height: calc(100vh - 80px);
    top: 80px;
    padding: 20px;
    display: none;
}

#gnb ul.on{
    display: block;
}

#gnb ul li{
    display: block;
    margin-bottom: 10px;
}


#gnb ul li a{
    color: #333;
    font-weight: 400;
    font-size: 18px;
}

#main-visual{
    width: 100%;
    height: 450px;
    background-image: url(../images/mobile-main.jpg);
    background-size: cover;
    background-position: center;
}

#contents article{
    padding: 50px 30px;
}

#contents article > h2{
    margin-bottom: 40px;
}

#contents article > ul > li{
    margin-bottom: 15px;
}

#contents article > ul > li:last-child{
    margin-bottom: 0;
}

#contents .about ul li span{
    display: block;
    margin-top: 15px;
}

#contents .about{
    background: #fff;
}

#contents .location{
    background: #ddd;
}

#choice{    
    background: #333;
    padding-top: 50px;
    padding-bottom: 37px;
}

#choice > h2{
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    padding-left: 20px;
    margin-bottom: 30px;
}

#choice article{
    display: flex;
    flex-direction: column-reverse;
}

#choice article .text {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 16px;
    color: #fff;
}

#choice article .text > h3{
    color: #d67e42;
    margin-bottom: 22px;
    font-weight: 600;
}

#choice article .text > p{
    margin-top: 15px;
}

#choice article img{
    width: 100%;
}

footer{
    padding: 20px 0;
}

footer > .copy{
    font-weight: 600;
    font-size: 14px;
    color: #666;
    text-align: center;
}
